.nav_warp {
  display: flex;
  height: 40%;
  padding: 0 15rem;
  flex-direction: inherit;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.nav_main {
  display: flex;
  width: 55%;
  flex-direction: inherit;
  justify-content: space-evenly;
}
.nav_sub {
  margin-left: 3rem;
}
