* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none;
}
.App {
  width: 100%;
  height: 100vh;
  list-style-type: none;
  list-style: none;
}
.header {
  width: 100%;
  height: 15%;
}
.logo_nav {
  height: 60%;
  display: flex;
  flex-direction: inherit;
  align-items: center;
  position: relative;
  padding: 0 10rem;
}
.logo {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  align-items: center;
}
.logo > img {
  position: absolute;
}
.nav_user {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  right: 0;
  position: absolute;
}
img {
  width: 20rem;
}
